/* Check out the navigation section. It's the most important part. */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.big-image {
  height: 65vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('https://images.pexels.com/photos/462162/pexels-photo-462162.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.38);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

 .overlay h1 {
  font-size: 65px;
  letter-spacing: 2px;
  margin: 0 0 5px;
}

.overlay p {
  margin: 0;
  font-size: 26px;
}



 nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  transition: all ease .65s;
  z-index: 100;
  width: 100%;
}



ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 15px;
}

nav.scroll {
  padding: 10px;
  background: black;
  position: fixed;
}

nav.scroll span {
  font-size: 18px;
  color: white;
}

nav.scroll li {
  color: white;
}  